numpy~=1.19.5
scipy~=1.3.1
threadpoolctl~=2.1.0
sklearn~=0.0
scikit-learn~=0.24.2
pip~=21.3.1
wheel~=0.36.2
cryptography~=35.0.0
lxml~=4.5.1
tornado~=6.0.3
keyring~=10.6.0
setuptools~=41.2.0
Cython~=0.29.14
joblib~=0.13.2
torch~=1.7.0
torchvision~=0.4.0+cpu
pandas~=1.1.4
bs4~=0.0.1
beautifulsoup4~=4.9.1
pytz~=2018.3
cffi~=1.13.2
nose~=1.3.7
matlab~=0.1
matplotlib~=3.2.0
mpmath~=1.1.0
sympy~=1.7.1
ipython~=7.8.0
future~=0.18.1
Pygments~=2.4.2
psutil~=5.6.3
cloudpickle~=1.6.0
testpath~=0.4.2
SecretStorage~=2.3.1
Pillow~=8.0.1
colorama~=0.3.7
ply~=3.11
pycparser~=2.19